.u-displayNone
    display none
    
.u-displayBlock
    display block

a 
	text-decoration: none
	color #839CB5 
	font-weight: 700
	transition: .2s

a:hover
	color cyan


body
	// color #839CB5
	color #1d1d1d
	background-color #ddd
	font-family: Lato
