.Header
	position: fixed
	top 0
	width 100%
	color #839CB5

	// z-index: 500
	// &-top
	// 	color #035103
	// 	text-align center
	// 	background-color #efefef
	// 	h3
	// 		font-weight 300
	&-contact
		font-weight: 300
	    background-color: #023d02
	    border-radius: 5px
	&-content
		// background-color green
		// background-image: linear-gradient(90deg, rgb(44, 62, 80) 25%, rgb(41, 128, 185) 100%);
		background-image: linear-gradient(to bottom right, #08183C, #052D89)
		
		// color #e6e6e6
		display flex
		justify-content space-between
		font-family Lato
		font-weight 700
		padding .5em
		// border-bottom 1px solid #023d02	
	&-title
		small
			font-weight 400
			color #839CB5		
		h1
			font-weight 700
			font-size: 1.5em
			
		a
			text-decoration: none
			font-weight 700
			color #839CB5	
	&-list 
		margin 0
		padding 0
	&-nav
		position fixed
		right -100%
		top 65px
		transition .5s
		// background-image: linear-gradient(to bottom right, #08183C, #052D89)
		width 100%
		text-align center
	&-menu
		margin auto 0
		.check
			display none
			&:checked~
				.Header-nav
					position absolute
					right 0%
				    transition .5s	
				    width 100%
				    z-index 300
		ul			
			li
				list-style none
				padding 1rem
				font-weight 300
				color #839CB5

			li:hover
			    background-image: linear-gradient(to bottom right, #08183C, #052D89)				
			    transition .2s	
			a
				text-decoration none
				color #839CB5
				font-weight: 700

			a:after
				height 0px


@media (min-width: 700px)
	
	.Header	
		position: relative
		&-label
			display none
		&-nav
			background-color transparent
			border-top 0
			bottom 0		
			position relative
			right 0
			text-align center
			top -1px
			transition 0s
			width 100%
			z-index 300
			ul
				
				li
					border 0
					display inline-block
					padding .2rem 1rem 0 1rem
				li:hover
					background-color transparent
					border-top 0px solid transparent
					color cyan	
					
				li:after
					content ''
					background transparent
					display block
					height 2px
					margin-top .3rem			
					transition width .2s ease, background-color .2s ease
					width 0
				// a
				// display inline-block		
				// a:after
				// 	content ''
				// 	display block
				// 	height 2px
				// 	width 0
				// 	background transparent
				// 	transition width .5s ease, background-color .5s ease
				// 	margin-top .3rem				
				li:hover:after
					width 100%
					background cyan
				







			