.Page
	// display flex
	
	img
		margin-bottom 3rem
		
	&-content
		// margin-left 3rem
		// margin-right 3rem
		width 90%
		margin 0 auto
	
	&-sidebar
		display none
	
		// width: 100%
	&-title		
		text-align: center
		margin: 1em 0 3em 0
		border-bottom 2px solid black
		h1
			margin-bottom 1rem
			
	
@media (min-width: 700px)
	.Page
		&-content
		&-sidebar
			display inline-block
			vertical-align: top
		&-content
			width 65%
			margin 3% 2%
		&-sidebar
			// display block
			// width: 100%
			width 27%

		// width: 100%
	