.SidebarIndex
	h2
		border-bottom 2px solid black
		margin 2rem 0 .5rem 0
	// width: 100%
	margin-right 1rem
	.widget_pages
	.widget_categories
	
	
		li 
			display inline-block
			margin .2rem				
			a
				color #fff
				background-color #016037
				text-decoration: none
				
