.SidebarIndex
	h2
		color cele
		border-bottom 1px solid #08183C
		margin 2rem 0 .5rem 0
	// width: 100%
	margin-right 1rem
	.widget_pages
	.widget_categories
	
	
		li 
			display inline-block
			margin .2rem				
			a
				color #fff
				background-color cele
				text-decoration: none
				
