.Single
	.comment-author
		padding-bottom 1rem
	.comment-meta 
		font-size .8rem
	.comment-body
		border-bottom 2px solid azulo
		margin-bottom 1rem
	.reply
		margin-bottom 1rem
	&-header
		.Header
			position: relative
	&-comments
		padding 40px
		a 
			color black
			text-decoration: underline
			margin-bottom 1rem
		h3
			font-family: Lato
			background-color azulo
			color #efefef
			font-weight: 300
		ol
			padding-left 0
		img
		cite
		span
			vertical-align: middle
			margin-left 1rem
			font-size: 1.2rem
		span 
			font-weight: 600
		textarea
			width 100%