.Single
	.comment-author
		padding-bottom 1rem
	.comment-meta 
		// background-color #e6e6e6
		font-size .8rem
	// .comment-edit-link
	.comment-body
		border-bottom 2px solid #016037
		margin-bottom 1rem
	.reply
		margin-bottom 1rem
	&-header
		.Header
			position: relative
	&-comments
		padding 40px
		// width: 70%
		// margin-right auto
		a 
			color #035103
			// background-color #e6e6e6
			text-decoration: underline
			margin-bottom 1rem
		h3
			font-family: Lato
			background-color #035103
			color #efefef
			font-weight: 300
		ol
			padding-left 0
		img
		cite
		span
			vertical-align: middle
			margin-left 1rem
			font-size: 1.2rem
		span 
			font-weight: 600
		textarea
			width 100%