.FooterSlider	
	justify-content: center
	color: #efefef
	height: 4rem
	background-color #1d1d1d
	display none
	h3
		line-height: 4rem
		font-size: 1.3rem
		.textwidget
			font-family: Lato
			font-weight: 300
	&-description
		width: auto
		
@media (min-width: 700px)
	.FooterSlider
		display: flex