.Social
	display none
	// p 
	// 	font-size: 1.5rem
	// 	text-align: center
	// 	color white
	// 	font-weight: 300
	// 	// font-style: italic
	// 	background-color #035103		
	// 	// border-top 10px solid #035103
	// 	margin auto 0 auto 1rem
	// 	// padding: .5rem 0
	&-ul
		display: flex
		justify-content: space-around
		position: relative
		// top 65px
		width 100%
	&-facebook
		background-color #3b5998
	&-twitter
		background-color #00aced
	&-google
		background-color #d34836
	&-youtube
		background-color #e52d27
	&-after
		padding-top 150px
		// padding-left 2rem
		font-size: 1.3em
		h2
			margin 0 auto
			font-weight: 400
			background-image: linear-gradient(to bottom right, #08183C, #052D89)
			width 90%
			color #efefef
			text-align center
		// .hr
		// 	width: 55%
		// 	background-color #016037
		// 	height: 2px	
	&-before
		display: flex
		justify-content: center
		padding 1.2rem 0
		background-color #e6e6e6
		img
			border-radius: 5%
			// border 3px solid #016037
			box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75)
			margin auto 0
	a 
		color white 
		text-decoration: none
		width: 100%
		font-weight: 400
		li 
			text-align: center
			padding: 1rem 0
			font-size: 1.2rem
			color white 		

		
@media (min-width: 700px)
	.Social
		display: block
		a
			font-weight: 700
			li
				font-size: 2rem	
		&-after
			font-size: 1.6em
			padding-top 3rem
			h2
				margin 0
				width 100%
