/*! Theme Name: Auvi
Theme URI: http://pandawebs.net/auvi
Author: Agustin Palmieri
Author URI: http://pandawebs.net
Description: Multimedia Theme
Version: 1.0.0*/

cele = #839CB5 
azulo = #08183C


@import "nib"	
@import "header.styl"
@import "normalize.styl"
@import "icon.styl"
@import "slider.styl"
@import "post.styl"
@import "social.styl"
@import "slider-footer.styl"
@import "general.styl"
@import "main-index.styl"
@import "sidebar-index.styl"
@import "page.styl"
@import "footer.styl"
@import "single.styl"
@import "contact.styl"
// @import "./layout/styles.styl"
// @import "./status/styles.styl"
// @import "./phases/styles.styl"
// @import "./battle/styles.styl"
// @import "./chat/styles.styl"



// body
// 	background-color yellow


// // header
// // 	background-color grey


// h1, h2
// 	color: white

ul 
	margin 0
	padding: 0

li 
	list-style: none
h3
	margin 0






